@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Galindo&family=Poppins:wght@200&display=swap");

body {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #023047;
  height: 200px;
}
#logo_link {
  padding-top: 5px;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

#hero-img {
  width: 1600px;
  display: block;
  height: auto;
  margin: 0 auto;
}

#hero-box {
  margin: 0 auto;
  width: 1600px;
  display: block;
  height: auto;
  margin: 0 auto;
}

.home-tittle {
  color: #fb8500;
  font-size: 4em;
  font-family: "Architects Daughter", cursive, "Galindo", cursive, "Poppins",
    sans-serif;
  margin-top: 10px;
}

h1 {
  font-size: 4em;
  color: #fb8500;
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
  margin: 0;
}

p {
  color: white;
}

h4 {
  color: #ffb703;
}

nav a {
  text-align: center;
  background-color: #023047;
  color: white;
  text-decoration: none;
  padding: 5px 35px;
}

nav a:hover {
  text-align: center;
  background-color: white;
  color: black;
}

#hero-msg h1 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
  color: #023047;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: whitesmoke;
}

.button-box {
  text-align: center;
}
.book {
  background-color: #023047;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: "Galindo", "Poppins", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join {
  background-color: #023047;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Galindo", "Poppins", sans-serif;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover {
  background-color: #fb8500;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
}

.join:hover {
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
}

.msg {
  background-color: #023047;
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
  background-color: #023047;
  color: #ffb703;
}

.msg p {
  background-color: #023047;
  color: #ffb703;
  font-size: 0.8em;
}
footer {
  background-color: #ffb703;
  padding: 25px 50px;
}

footer p {
  background-color: #ffb703;
  color: #023047;
  font-size: 1.2em;
}

footer a {
  background-color: #ffb703;
  color: #023047;
  text-decoration: none;
}

footer a:hover {
  background-color: #023047;
  color: #ffb703;
  text-decoration: underline;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 140px;
  background-color: #023047;
}

.hero-img {
  width: 100%;
}

footer .social {
  padding-top: 15px;
}

.rivers-card {
  margin: 200px 0;
}

.camping-card {
  margin: 200px 0;
}

.rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #023047;
}

main section img {
  box-sizing: border-box;
}
