body {
  text-align: center;
  margin: 0;
}

#banner_1 {
  width: 1600px;
}

.home-grid {
  background-color: gray;
  height: 800px;
  width: 1600px;
}

#desk-img {
  border-radius: 50%;
  width: 180px;
  display: inline;
  border: 10px solid rgb(80, 78, 78);
  margin: 20px 60px;
}

#graph-img {
  border-radius: 50%;
  width: 180px;
  display: inline;
  border: 10px solid rgb(80, 78, 78);
  margin: 20px 60px;
}

#person-img {
  border-radius: 50%;
  width: 180px;
  display: inline;
  border: 10px solid rgb(80, 78, 78);
  margin: 20px 60px;
}

#image-container {
  background-color: grey;
  height: 1200px;
  width: 1600px;
  display: inline;
  border-radius: 25%;
}

#background {
  background-color: grey;
}
