body {
  text-align: center;
  margin: 0;
}

#banner_1 {
  width: 1600px;
}

.home-grid {
  width: 1600px;
  display: inline-block;
}

.desk-img {
  border-radius: 50%;
  width: 300px;
  display: inline;
  border: 10px solid rgb(32, 31, 31);
  margin: 0;
  margin: 40px 60px;
}

.graph-img {
  border-radius: 50%;
  width: 300px;
  display: inline;
  border: 10px solid rgb(32, 31, 31);
  margin: 0;
  margin: 40px 60px;
}

.person-img {
  border-radius: 50%;
  width: 300px;
  display: inline;
  border: 10px solid rgb(32, 31, 31);
  margin: 40px 60px;
}

.image-container {
  background-color: grey;
}
